/**************** RESET *********** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/****************
       MAIN CSS 
 *************** */

 main {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
 }

 /*********************
       MAIN CONTENT
 ******************** */

 section h2 {
    font-size: 4rem;
    font-weight: 800;
    color: #e53170;
    margin: 30px 0 40px 0;
 }

 section p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
 }

  /*********************
       PROFILE CARDS
 ******************** */

 .profiles-ctn {
    width: 100%;
    margin: 25px auto;
 }

 .profiles-ctn::after {
    content: ' ';
    display: block;
    clear: both;
 }

 .profile-card {
    background-color: #0f0e17;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    color: #fff;
    float: left;
    box-shadow: 2px 4px 15px 2px rgba(255,115,181,0.95);
 }


   /*********************
       CARDS CONTENT
 ******************** */

 .profile-pic {
    float: left;
 }

 .profile-pic img {
    display: block;
    height: 100px;
 }

 .profile-description {
   margin-left: 25px;
   padding: 15px 0;
    text-align: left;
    float: left;
 }

 .profile-description h3 {
    font-size: 1.8rem;
    font-weight: 700;
 }

 .profile-description h4 {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 5px 0;
 }

 .profile-description a {
    color: #2c9ee2;
    text-decoration: none;
    font-size: 1.4rem;
 }

 .profile-description a:hover {
    cursor: pointer;
    color: lightblue;
 }

